<?xml version="1.0" ?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Admin_Acl::manager" title="Blogs Menu" sortOrder="90">
                    <resource id="Admin_Acl::index" title="Blogs" translate="title" sortOrder="50">
                        <resource id="Admin_Acl::actions" title="Actions" translate="title" sortOrder="10">
                            <resource id="Admin_Acl::masscancel" title="MassCancel" translate="title" sortOrder="130" />
                        </resource>
                    </resource>
                    <resource id="Admin_Acl::configuration"
                              title="Blogs Configuration" sortOrder="52" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Admin_Acl::config_blogs"
                                  title="Blogs Configuration" sortOrder="50"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
